In [1]:
from jaqs_fxdayu.util import dp
from jaqs.data.dataapi import DataApi

start = 20160101
end = 20180101

api = DataApi(addr='tcp://data.tushare.org:8910')
api.login("18888483623", 
          'eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1MjIyMjYxNjk3NzkiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTg4ODg0ODM2MjMifQ.nh_O_RHEc0mFmcX3lVTgWMVfwGobqpA3qi-Ip9xf_Qs'
)

ZZ800_id = dp.index_cons(api, "000906.SH", start, end)

stock_symbol = list(set(ZZ800_id.symbol.values))

In [2]:
len(stock_symbol)

981

In [3]:
import jaqs_fxdayu
jaqs_fxdayu.patch_all()
from jaqs.data import DataView
from jaqs.data import RemoteDataService
from jaqs_fxdayu.data.dataservice import LocalDataService
import os
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

dataview_folder = 'H:/sxzy/data'
dv = DataView()
ds = LocalDataService(fp=dataview_folder)


factor_list = ['volume']
check_factor = ','.join(factor_list)

dv_props = {'start_date': start, 'end_date': end, 'symbol':','.join(stock_symbol),
         'fields': check_factor,
         'freq': 1,
         "prepare_fields": True}

dv.init_from_config(dv_props, data_api=ds)
dv.prepare_data()

G:\anaconda\wbd\lib\importlib\__init__.py:126: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  return _bootstrap._gcd_import(name[level:], package, level)
G:\anaconda\wbd\lib\site-packages\matplotlib\__init__.py:1405: UserWarning:
This call to matplotlib.use() has no effect because the backend has already
been chosen; matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

  warnings.warn(_use_error_msg)

Initialize config success.
Query data...
Query data - query...
NOTE: price adjust method is [post adjust]
当前请求daily...
{'adjust_mode': None, 'fields': 'vwap_adj,high,open_adj,vwap,trade_status,symbol,high_adj,volume,low,close_adj,trade_date,close,open,low_adj'}
下载进度946/981.
当前请求daily...
{'adjust_mode': 'post', 'fields': 'high,low,close,open,vwap,symbol,trade_date'}
下载进度946/981.
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - daily fields prepared.
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - quarterly fields prepared.
Query instrument info...
Query adj_factor...
Data has been successfully prepared.

# alpha因子：42,49,115,144,183

In [4]:
alpha42 = dv.add_formula('alpha42', 
               "((-1*Rank(StdDev(high,{})))*Correlation(high,volume,{}))".format(10,10)
               , is_quarterly=False, add_data=True)

In [5]:
alpha49 = dv.add_formula('alpha49', 
               "Ts_Sum(If(((high+low)>=(Delay(high,{})+Delay(low,{}))),0,Max(Abs(high-Delay(high,{})),Abs(low-Delay(low,{})))),{})/(Ts_Sum(If(((high+low)>=(Delay(high,{})+Delay(low,{}))),0,Max(Abs(high-Delay(high,{})),Abs(low-Delay(low,{})))),{})+Ts_Sum(If(((high+low)<=(Delay(high,{})+Delay(low,{}))),0,Max(Abs(high-Delay(high,{})),Abs(low-Delay(low,{})))),{}))".format(1,1,1,1,12,1,1,1,1,12,1,1,1,1,12)
                , is_quarterly=False, add_data=True)

In [6]:
alpha115 = dv.add_formula('alpha115', 
               "(Rank(Corr(((high*{})+(close*{})),Ts_Mean(volume,{}),{}))^Rank(Corr(Ts_Rank(((high+low)/2),{}),Ts_Rank(volume,{}),{})))".format(0.9,0.1,30,10,4,10,7)
               , is_quarterly=False, add_data=True)

In [7]:
alpha144 = dv.add_formula('alpha144', 
               "Ts_Sum(If(((close<Delay(close,{}))/CountNans((close-Delay(close,{}))^0.5,{})),Abs(close/Delay(close,{})-1)/(close*volume),0),{})".format(1,1,20,1,20)
               , is_quarterly=False, add_data=True)

In [8]:
#算法缺少参数

#alphaq183 = dv.add_formula('alpha183', 
#            "Ts_Max(Ts_Sum((close-Ts_Mean(close,{})),{}),{})-(Ts_Min(Ts_Sum((close-Ts_Mean(close,{})),{}),{})/StdDev(close,{}))".format(24,缺，缺，24，缺，缺，24)
#             , is_quarterly=False, add_data=True)

In [9]:
L1=[42,49,115,144]
alpha_pn = pd.Panel({'alpha{}'.format(i) : dv.get_ts('alpha{}'.format(i)) for i in L1}).to_frame()
print(alpha_pn.tail())

                           alpha115      alpha144     alpha42   alpha49
trade_date symbol
20171229   603883.SH            inf  2.014902e-09 -593.521504  0.292096
           603885.SH            inf  1.237259e-09 -549.921092  0.336788
           603888.SH  2.470457e+211  4.930697e-09 -636.434403  0.658470
           603899.SH            inf  2.392294e-09  388.935370  0.526132
           603993.SH            inf  2.683050e-10 -387.288970  0.415385

# Spearman_Check

In [10]:
import scipy.stats as scst
import jaqs.util as jutill


def spearman_factor(factor_u='factor_u', factor_j='factor_j', start=20160101, symbol=stock_symbol):
    factors = dict()
    factors["factor_u"] = dv.get_ts(factor_u).loc[start:][stock_symbol].stack()
    factors["factor_j"] = dv.get_ts(factor_j).loc[start:][stock_symbol].stack()

    factors_df = pd.concat(factors.values(),axis=1)
    factors_df.columns = factors.keys()
    factors_df = jutill.fillinf(factors_df).dropna()

    # 两个因子的spearman相关性
    def get_factors_daily_corr(factors_df,
                               f1="factor_u",
                               f2="factor_j"):
        def _cal_corr(df):
            return scst.spearmanr(df[f1], df[f2])[0]

        result = factors_df.groupby(['trade_date']).apply(_cal_corr)
        result = pd.DataFrame(result)
        result.columns = ['spearmanr']
        return result

    result = get_factors_daily_corr(factors_df,"factor_u","factor_j")
    t_stat, p_value = scst.ttest_1samp(result, 0)
    return result.mean(), p_value # 相关关系均值,相关关系均值的ｔ统计量的p_value

# 每股指标OperatingProfitPS

In [11]:
dv.add_field('oper_profit',ds)
dv.add_field('total_share',ds)

Query data - query...
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - quarterly fields prepared.
Query data - query...
当前请求query_lb_dailyindicator...
{'fields': 'symbol,total_share,trade_date'}
下载进度946/981.
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - daily fields prepared.

True

In [12]:
OperatingProfitPS= dv.add_formula('OperatingProfitPS_J', 
               "oper_profit/total_share"
               , is_quarterly=False, add_data=True)

In [13]:
OperatingProfitPS.tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000025.SZ,000027.SZ,000028.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,14559.930724,18740.275596,3482.32926,537.817528,1950.123588,3218.609993,4014.119046,1339.079398,2904.853063,25553.648398,...,25710.156826,20119.941401,9645.858945,17603.710683,4318.377944,12505.443344,8252.572712,2681.316068,5900.690058,1595.462019
20171226,14559.930724,18740.275596,3482.32926,537.817528,1950.123588,3218.609993,4014.119046,1339.079398,2904.853063,25553.648398,...,25710.156826,20119.941401,9645.858945,17603.710683,4318.377944,12505.443344,8252.572712,2681.316068,5900.690058,1595.462019
20171227,14559.930724,18740.275596,3482.32926,537.817528,1950.123588,3218.609993,4014.119046,1339.079398,2904.853063,25553.648398,...,25710.156826,20119.941401,9645.858945,17603.710683,4318.377944,12505.443344,8252.572712,2681.316068,5900.690058,1595.462019
20171228,14559.930724,18740.275596,3482.32926,537.817528,1950.123588,3218.609993,4014.119046,1339.079398,2904.853063,25553.648398,...,25710.156826,20119.941401,9645.858945,17603.710683,4318.377944,12505.443344,8252.572712,2681.316068,5900.690058,1595.462019
20171229,14559.930724,18740.275596,3482.32926,537.817528,1950.123588,3218.609993,4014.119046,1339.079398,2904.853063,25553.648398,...,25710.156826,20119.941401,9645.858945,17603.710683,4318.377944,12505.443344,8252.572712,2681.316068,5900.690058,1595.462019

In [14]:
dv.add_field('OperatingProfitPS', ds)

Field name [OperatingProfitPS] not valid, ignore.

False

In [15]:
## 原库没有该因子，无法测试spearman

# 动量 Price1M

In [16]:
 Price1M = dv.add_formula('Price1M_J',"(20*close_adj)/(Ts_Sum(Delay(close_adj,20),20))-1"
               , is_quarterly=False, add_data=True)

In [17]:
 Price1M.tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000025.SZ,000027.SZ,000028.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,0.029126,0.040906,2.220446e-16,-0.047885,-0.080592,-0.068858,-0.026375,-0.102378,-0.034263,-0.067428,...,0.010917,-0.228073,-0.070118,-0.009318,-0.039856,0.045273,0.024504,-0.131771,0.048975,-0.029974
20171226,0.052145,0.042165,2.220446e-16,-0.017571,-0.074825,-0.059106,-0.011850,-0.086943,-0.030119,-0.060003,...,-0.007628,-0.198189,-0.057136,-0.011819,-0.025032,0.083915,0.049067,-0.102537,0.048382,-0.030504
20171227,0.014194,0.043747,2.220446e-16,-0.016467,-0.071327,-0.074547,-0.044918,-0.087216,-0.032284,-0.041552,...,-0.011027,-0.204067,-0.061746,-0.030562,-0.006934,0.046320,0.031984,-0.115533,0.033082,-0.007564
20171228,0.001061,0.037583,2.220446e-16,-0.019419,-0.071752,-0.073844,-0.018677,-0.083640,-0.032103,-0.038329,...,-0.021002,-0.196112,-0.058724,-0.020021,0.031610,0.031434,0.049350,-0.094314,0.033724,0.060033
20171229,0.001770,0.045263,2.220446e-16,-0.005569,-0.064138,-0.048263,0.003093,-0.078928,-0.025488,-0.033580,...,-0.010362,-0.181848,-0.052954,0.010189,0.024953,0.066371,0.086748,-0.085814,0.064836,0.038804

In [18]:
dv.add_field('Price1M', ds)

Field name [Price1M] not valid, ignore.

False

In [19]:
## 原库没有该因子，无法测试spearman

# 历史成长 OperatingRevenueGrowRate5Y

In [20]:
dv.add_field('oper_rev',ds)

Query data - query...
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - quarterly fields prepared.

True

In [21]:
 OperatingRevenueGrowRate5Y= dv.add_formula(" OperatingRevenueGrowRate5Y_J","((oper_rev/Delay(oper_rev,5))^1/5)-1",
               is_quarterly=True,
               add_data=True)

In [22]:
 OperatingRevenueGrowRate5Y.tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000025.SZ,000027.SZ,000028.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
20171225,-0.708474,-0.686877,-0.466032,-0.681998,-0.651228,-0.631476,-0.687701,-0.696628,-0.584652,-0.555986,...,-0.520057,-0.633236,-0.595078,-0.631895,-0.654582,-0.620198,-0.59249,-0.661076,-0.587713,0.567053
20171226,-0.708474,-0.686877,-0.466032,-0.681998,-0.651228,-0.631476,-0.687701,-0.696628,-0.584652,-0.555986,...,-0.520057,-0.633236,-0.595078,-0.631895,-0.654582,-0.620198,-0.59249,-0.661076,-0.587713,0.567053
20171227,-0.708474,-0.686877,-0.466032,-0.681998,-0.651228,-0.631476,-0.687701,-0.696628,-0.584652,-0.555986,...,-0.520057,-0.633236,-0.595078,-0.631895,-0.654582,-0.620198,-0.59249,-0.661076,-0.587713,0.567053
20171228,-0.708474,-0.686877,-0.466032,-0.681998,-0.651228,-0.631476,-0.687701,-0.696628,-0.584652,-0.555986,...,-0.520057,-0.633236,-0.595078,-0.631895,-0.654582,-0.620198,-0.59249,-0.661076,-0.587713,0.567053
20171229,-0.708474,-0.686877,-0.466032,-0.681998,-0.651228,-0.631476,-0.687701,-0.696628,-0.584652,-0.555986,...,-0.520057,-0.633236,-0.595078,-0.631895,-0.654582,-0.620198,-0.59249,-0.661076,-0.587713,0.567053

In [23]:
dv.add_field('OperatingRevenueGrowRate',ds)

Query data - query...
当前请求query...
{'fields': 'OperatingRevenueGrowRate', 'view': 'factor'}
下载进度946/981.
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - daily fields prepared.

True

In [24]:
print(spearman_factor(factor_u='OperatingRevenueGrowRate', factor_j=' OperatingRevenueGrowRate5Y_J', start=20160101, symbol=stock_symbol))

(spearmanr    0.703739
dtype: float64, array([0.]))

In [25]:
dv.save_dataview(dataview_folder)

Store data...
Dataview has been successfully saved to:
H:\sxzy\data

You can load it with load_dataview('H:\sxzy\data')